{% extends 'base.html' %}

{% block content %}

<center>
    <br>
<table class="table table-bordered">
    <thead class="thead-light">
    <tr>
<!--      <th scope="col">#</th>-->
      <th class="text-center" scope="col">Name</th>
<!--      <th class="text-center" scope="col">Title</th>-->
      <th class="text-center" scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {% if all_items %}

        {% for things in all_items %}

       <tr>
           <td><center>{{things.name}}</center></td>
<!--           <td>{{things.title}}</td>-->
<!--           <td>{{things.content}}</td>-->
<!--           <td><center><a href="{% url 'todo:delete_view' things.id %}">DELETE</a></center></td>-->
<!--           <td><center><a href="{% url 'todo:todo_view' things.id %}">VIEW</a></center></td>-->

          <td><center><a href="{% url 'todo:delete_view' things.id %}">
              <button type="button"
                  class="btn btn-danger btn-rounded btn-sm my-0">Remove</button>
           </a>
           <a href="{% url 'todo:todo_view' things.id %}">
               <button type="button"
                  class="btn btn-secondary btn-sm">View</button>
           </a></center></td>
       </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}


    </center>

{% endblock %}